.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  .button-align{
      text-align: center;
  }

  .margin-right{
    margin-right: 3%;
}

.notificacion{
    color: yellow;
}
